/* reglas
seelectores
declaraciones 
propiedades
valores */

/* selector de etiqueta */
/* header{
    background: rgb(255, 255, 255) ;
    text-decoration:none
}


a {
    text-decoration: none;
}
 */

/* selector de descendente */
/* body header div nav ol li a  */

/* selector de clase */

/* .link {
    background-color: red;
} */

/* selector de id */
/* #contacto {
    background-color: red;
} */

body {
    font-family: 'Source Sans Pro';
    margin: 0px;
}
.menu {
    height: 100px;
    /* margin: 10px 11px 12px ; */
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.header ol {
    display: flex;
    justify-content: space-between;
    height: inherit;
}
.header ol li {
    height: inherit;
}


.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}



ol , li {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Fjalla One';
    font-weight: normal;
    /* font-style: italic; */
}

h1 {
    line-height: 1.5em;
    font-size: 40px;
    letter-spacing: -1px;
    color: white;
    margin: 0px;
    /* text-transform: uppercase; */
    /* text-decoration: underline ; */
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    /* background-image: url('../static/FOTO.png'); */
    background-color: #1b2127 ;
    /* background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-image{
    object-fit: cover;
    height: 300px;
    width: 364px;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    border: 2px solid gray;
    border-radius: 10px ;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.project-course, 
.project-date,
.project-url {
    margin: 10px 0;
}

.project-decription {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One';
}
.project-details {
    width: 500px;
}
.project-imageContainer {
    width: 500px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}
.event-imageContainer {
    display: flex;
}
.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-detail {
    margin: 20px 40px;
    margin: 20px;
    margin-top: -40px;
    background-color:white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid #026fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #026fff;
    border-radius: 5px;


}
.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.titulo-experiencias{
    margin:20px
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer {
    background-color:#1b2127 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.social a {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter {
    background-image: url('https://static.platzi.com/media/tmp/class-files/git/desarrollo-web-portafolio/desarrollo-web-portafolio-a812d2d049ff02d5563d79604597f7cb390a8903/images/twitter.svg');
}

.social-link.facebook {
    background-image: url('https://static.platzi.com/media/tmp/class-files/git/desarrollo-web-portafolio/desarrollo-web-portafolio-a812d2d049ff02d5563d79604597f7cb390a8903/images/facebook.svg');
}

.social-link.instagram {
    background-image: url('https://static.platzi.com/media/tmp/class-files/git/desarrollo-web-portafolio/desarrollo-web-portafolio-a812d2d049ff02d5563d79604597f7cb390a8903/images/instagram.svg');
}

.social-link.github {
    background-image: url('https://static.platzi.com/media/tmp/class-files/git/desarrollo-web-portafolio/desarrollo-web-portafolio-a812d2d049ff02d5563d79604597f7cb390a8903/images/github.svg');
}

.form-email input {
    border-color: gray;
    padding: 5px 20px 5px 25px;
    background-image: url('https://static.platzi.com/media/tmp/class-files/git/desarrollo-web-portafolio/desarrollo-web-portafolio-a812d2d049ff02d5563d79604597f7cb390a8903/images/envelope.svg');
    background-size: 15px 15px ;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
}

.form-email button {
   display: block ;
   margin-top: 10px;
   background: transparent;
   color: white;
   padding: 10px 0px;
   border-radius: 5px;
   width: 100px;
   margin-top: 10px;
   /* margin: 10px auto 0; */
}
.form-email h3 {
    font-family: 'Source Sans Pro';
}

.container {
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    flex-wrap: inherit;
}